<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <connectionStrings>
        <add name="TestDB" providerName="System.Data.SqlClient" 
             connectionString="Server=localhost;Database=StaticVoid.OrmPerformance.Test;Integrated Security=SSPI;MultipleActiveResultSets=true" />
    </connectionStrings>
</configuration>