<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="DbServer" value="chagall"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" version="5.0.0.0"
                          publicKeyToken="b77a5c561934e089"
                          culture="neutral" />
        <codeBase version="5.0.0.0" href="..\..\..\packages\EntityFramework.5.0.0-beta1\lib\net45\EntityFramework.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" version="4.1.0.0"
                          publicKeyToken="b77a5c561934e089"
                          culture="neutral" />
        <codeBase version="4.1.0.0" href="..\..\..\packages\EntityFramework.4.1.10331.0\lib\EntityFramework.dll" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" version="4.3.1.0"
                          publicKeyToken="b77a5c561934e089"
                          culture="neutral" />
        <codeBase version="4.3.1.0" href="..\..\..\packages\EntityFramework.4.3.1\lib\net40\EntityFramework.dll" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>